<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/publications.html">Publications</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/tutorials-list.html">Tutorials</a>
</li>
<li class="nav-item">
<a arget="_blank" class="nav-link" href="https://github.com/ALFA-group/lipizzaner-gan">Code</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">People</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="http://alfagroup.csail.mit.edu/">About us</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>


